[submodule "deps/xxhash"]
	path = deps/xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/hashmap"]
	path = deps/hashmap
	url = https://github.com/DavidLeeds/hashmap
[submodule "deps/libcbor"]
	path = deps/libcbor
	url = https://github.com/PJK/libcbor.git
[submodule "deps/poll-dancer"]
	path = deps/poll-dancer
	url = https://github.com/vijayee/poll-dancer
[submodule "deps/msquic"]
	path = deps/msquic
	url = https://github.com/microsoft/msquic
